<section>
  <img src="images/test.jpg" alt="Cute cat">
  <img src="images/test.jpg" alt="Cute cat">
  <img src="images/test.jpg" alt="Cute cat">
  <img src="images/test.jpg" alt="Cute cat">
  <img src="images/test.jpg" alt="Cute cat">
  <img src="images/test.jpg" alt="Cute cat">
  <img src="images/test.jpg" alt="Cute cat">
  <img src="images/test.jpg" alt="Cute cat">
  <img src="images/test.jpg" alt="Cute cat">
  <img src="images/test.jpg" alt="Cute cat">
  <img src="images/test.jpg" alt="Cute cat">
  <img src="images/test.jpg" alt="Cute cat">
  <img src="images/test.jpg" alt="Cute cat">
  <img src="images/test.jpg" alt="Cute cat">
  <img src="images/test.jpg" alt="Cute cat">
</section>



<!-- <div id="photo-grid" ng-repeat="object in objects | filter:number">  
    <img ng-src="{{object.image}}" alt="{{object.name}}">
</div> -->

