<section id="photo-grid">
  <img src="images/kitten.jpg" alt="Cute cat">
  <img src="images/kitten2.jpg" alt="Cute cat">
  <img src="images/kitten3.jpg" alt="Cute cat">
  <img src="images/kitten.jpg" alt="Cute cat">
  <img src="images/kitten2.jpg" alt="Cute cat">
  <img src="images/kitten3.jpg" alt="Cute cat">
  <img src="images/kitten.jpg" alt="Cute cat">
  <img src="images/kitten2.jpg" alt="Cute cat">
</section>



<!-- <div id="photo-grid" ng-repeat="object in objects | filter:count">  
    <img ng-src="{{object.image}}" alt="{{object.name}}">
</div> -->

