<div>

	<div class="profile">
		<img id="prof0" class="prof" src="images/test.jpg" alt="profile"/>
		<h4 id="name0">John</h4>
		<h4 id="city0">New York City</h4>
	</div>
	<div class="profile">
		<img id="prof1" class="prof" src="images/test.jpg" alt="profile"/>
		<h4 id="name1">John</h4>
		<h4 id="city1">New York City</h4>
	</div>
	<div class="profile">
		<img id="prof2" class="prof" src="images/test.jpg" alt="profile"/>
		<h4 id="name2">John</h4>
		<h4 id="city2">New York City</h4>
	</div>
	<div class="profile">
		<img id="prof3" class="prof" src="images/test.jpg" alt="profile"/>
		<h4 id="name3">John</h4>
		<h4 id="city3">New York City</h4>
	</div>
<!-- 	<div class="profile">
		<img id="prof4" class="prof" src="images/test.jpg" alt="profile"/>
		<h4 id="name4">John</h4>
		<h4 id="city4">New York City</h4>
	</div> -->


</div>

<!-- 
<div id="profiles" ng-repeat="object in objects | filter:count">
	
	<img class="prof" ng-src="{{object.image}}" alt="profile">
	<h4>{{ object.name }}</h4>
	<h4>{{ object.location }}</h4>

</div> -->