

  <div class="row">




  	  		  <div class="left" id="social">
	<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=Join%20the%20Indian%20Point%20Campaign%20now:%20www.closeindianpoint.com" target="_blank">
<img class="soc" src="images/twitter.png" alt="twitter"/></a>  
  <a href=""><img class="soc" src="images/facebook.png" alt="facebook"/></a>
  <a href=""><img class="soc" src="images/googlePlus.png" alt="googlePlus"/></a>
  <a href=""><img class="soc" src="images/tumblr.png" alt="tumblr"/></a>
  </div>

	  <h2 class="supporters">Campaign Supporters:
	  	<button type="button" class="support btn btn-default btn-lg">{{count}}</button>
	  </h2>
  </div>