body {
	font-style: Lato, Serif, sans-serif;
}

.main {
	width: 100%;
	height: auto;
	margin: 40px 0;
	border-radius: 3%;
}

button.support {
	/*font-size: 30px;*/
	/*padding: 10px 20px;*/
}

input {
    padding: .5rem;
    margin: 20px !important;
}

/*.header {
	display: inline-block;
}
*/
.prof {
	height: 300px	;
	border-radius: 10%;
	-webkit-filter: grayscale(100%);
}

h2 {
	text-align: center;
}

#main {
	margin: 10% 0;
}

.supporters {
	/*font-size: 40px !important;*/
/*	margin: 0 100px;*/
}

#support {	
	/*padding: 0 80px;	*/
}

#left {
	/*width: 60%;*/
	/*padding: 0 0 0 100px;	*/
}

#right {
	/*width: 40%;	*/
	text-align: center;
}

#info {
	/*margin: 20px 0;*/
	font-size: 20px;
	
}

.profile {
	margin-bottom: 100px;	
}

#profiles {
	margin-top: 20px;
}

nav {
	
}

#social {
	margin: 2rem 4rem;	
}

.soc {
	height: 40px;
}


#login {
	margin: 2rem 4rem;
}

@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:60%;
    line-height: 1;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:70%;
    line-height: 1.2;
  }
}

#brand {
	/*width: 8%;*/
	height: 50px;
	margin: 2rem 4rem;
}

#text {
	font-family: 'Noto Sans', sans-serif;
}

#title {
	font-family: 'Anton', sans-serif;
	margin: 15% 0;
	font-size: 5em;
	z-index: 100;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

h1 {
	top: 50%;
}

#photo-grid {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;  

  margin-bottom: 10rem;
  position: absolute;
}

#photo-grid img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */  
}

@media (max-width: 800px) {
  #title {
  	font-size: 3em;
  }
}

@media (max-width: 400px) {
  #title {
  	font-size: 1.5em;
  }
}

